.color1{
    background-color: rgb(1, 124, 124);
}

.color2{
    background-color: rgb(0, 133, 77);
}

.color3{
    background-color: rgb(16, 139, 0);
}

.color4{
    background-color: rgb(133, 143, 0);
}

.color5{
    background-color: rgb(180, 96, 0);
}

.color6{
    background-color: rgb(122, 0, 0);
}